.section-404 {
  background-image: url('../img/404.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  padding-top: 92px;

  @media (max-width: 992px) {
    background-position: bottom center;
    padding-top: 32px;
    min-height: 60vh;
  }

  h1 {
    font-size: 150px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1;

    @media (max-width: 992px) {
      font-size: 40px;
    }
  }
}

.section-404-footer {
  padding-top: 0;
}