.section-breadcrumbs {
  border-bottom: 1px solid #000;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px 0 !important;
}

.breadcrumbs-item {
  color: #000;
  font-size: 16px;
  font-weight: 400;

  &:not(:last-child):after {
    content: '';
    width: 4px;
    height: 4px;
    background: #000;
    border-radius: 100%;
    display: inline-flex;
    margin: 0 6px;
    position: relative;
    top: -3px;
    font-size: 0;
  }

  &__link {
    color: #898989;
    font-size: 16px;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}