/**************************** Catalog */
.brand-list {
  margin-bottom: 80px !important;

  @media (max-width: 1640px) {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

.brands-list-wrapper {
  position: relative;

  .swiper-button-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L1 9.5L9 18' stroke='black'/%3E%3C/svg%3E%0A");
    width: 10px;
    height: 19px;
    left: -20px;

    @media (max-width: 1640px) {
      left: 0;
    }
  }

  .swiper-button-next {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9 9.5L1 18' stroke='black'/%3E%3C/svg%3E%0A");
    width: 10px;
    height: 19px;
    right: -20px;

    @media (max-width: 1640px) {
      right: 0;
    }
  }

  .swiper-scrollbar {
    top: calc(100% + 40px) !important;
    background: #E8E8E8 !important;
    max-width: 100% ;
  }
}

.brand-item {
  text-align: center;
  font-size: 14px;

  img {
    margin: 0 auto;
    width: 100%;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.catalog-row {
  display: flex;
  flex-wrap: wrap;

  .filters {
    width: 250px;

    @media (max-width: 992px) {
      width: 100%;
      display: none;
      overflow-y: auto;

      &.is-opened {
        position: fixed;
        background: #fff;
        padding: 20px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: block;
      }
    }
  }

  .catalog-list {
    width: calc(100% - 230px);
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-top: 29px;

    .teaser-item {
      width: calc(100% / 3 - 20px);
      margin: 10px;

      @media (max-width: 1400px) {
        width: calc(100% / 2 - 20px);
      }

      @media (max-width: 992px) {
        width: calc(100% / 2 - 20px);
      }

      @media (max-width: 680px) {
        width: calc(100% / 2 - 20px);
      }

      @media (max-width: 680px) {
        width: calc(100% / 1 - 20px);
      }
    }

    @media (max-width: 992px) {
      width: calc(100% + 20px);
      padding-left: 0;
    }
  }
}

.filters-title {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 18px;

  @media (max-width: 992px) {
    display: none;
  }
}

.filter-block {
  margin-bottom: 8px;
  &__btn {
    display: flex;
    align-items: center;
    border: 1px solid #B4B4B4;
    padding: 15px 18px;
    transition: all .3s ease;
    background: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 6L10 1' stroke='black'/%3E%3C/svg%3E%0A");
      width: 11px;
      height: 7px;
      display: inline-flex;
      margin-left: auto;
    }

    &.is-opened {
      background: #000;
      color: #fff;
      border-color: #000;

      &:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6L5.5 1L1 6' stroke='white'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__list {
    margin: 10px 0 20px;
    display: none;
  }
}

.filter-apply-content {
  color: #414141;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin: 10px 0;
}

.filter-btn {
  margin: 0 auto;
  @media (min-width: 993px) {
    display: none;
  }
}

.filter-btns {
  margin-top: 20px;
  .btn {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
  }
}

.filter-btn-close {
  text-decoration: underline;
  margin-bottom: 20px;
  display: inline-flex;
  @media (min-width: 993px) {
    display: none;
  }
}


/**************************** Brand page */
.brand-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__text {
    width: calc(100% - 220px);
    padding-right: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;

    @media (max-width: 767px) {
      width: 100%;
      padding-right: 0;
      padding-top: 20px;
      padding-bottom: 40px;
      order: 2;
    }
  }

  &__logo {
    min-width: 220px;

    img {
      width: 100%;
    }

    @media (max-width: 767px) {
      width: 100%;
      min-width: 100%;
      order: 1;
    }
  }
}